.animated-border {
	display: "flex";
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	background: transparent;
	border: none;
	border-radius: 50%;
	position: relative;
	z-index: 0;
	transition: 0.3s;
}

.animated-border:before {
	content: "";
	position: absolute;
	inset: -4px;
	padding: 3px;
	border-radius: 50%;
	background: conic-gradient(
		#4982dd,
		#0000 30deg 120deg,
		#f26e5a 150deg 180deg,
		#0000 210deg 300deg,
		#4982dd 330deg
	);
	-webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
	-webkit-mask-composite: xor;
	mask-composite: intersect;
  opacity: 0.7;
	z-index: -1;
}

.animated-border:after {
	content: "";
	position: absolute;
	inset: -50px;
	background: radial-gradient(
			50px at left 150px top 100px,
			#4982dd 100%,
			#0000
		),
		radial-gradient(50px at right 150px bottom 100px, #f26e5a 100%, #0000);
	filter: blur(30px);
	opacity: 0.3;
	z-index: -1;
}

.animated-border:before,
.animated-border:after {
	animation: rotating 5s linear infinite;
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
