@keyframes waves {
  0% {
    transform: translate(-50%, -50%) scale(0.2, 0.2);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.55, 0.55);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.9, 0.9);
    opacity: 0;
  }
}

.waves {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%; /* Position Y halfway in */
  left: 50%; /* Position X halfway in */
  transform: translate(-50%, -50%); /* Move it halfway back(x,y) */

  background: theme('colors.base-100');
  opacity: 0;
  border-radius: 100%;
  z-index: -1;
  animation: waves 3s ease-in-out infinite;
}

.wave-1 {
  animation-delay: 0s;
}

.wave-2 {
  animation-delay: 1s;
}

.wave-3 {
  animation-delay: 2s;
}
